<!DOCTYPE html>
<html>
    <head>
        <title>students</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
    <section id="add" class="container">
    <a href="/students">СПИСОК МОИХ СТУДЕНТОВ</a>
      <div class="form-wrap" id="student">
            <form @submit.prevent="addStudent">
            <div class="input-group">
              <label for="firstName">Имя*:</label>
              <input type="text" class="input-box" id="firstName" name="firstName" placeholder ="Например, Василий" v-model="form.firstName" required>
            </div>
            <div class="input-group">
              <label for="lastName">Фамилия:</label>
              <input type="text" class="input-box" id="lastName" name="lastName" placeholder = "Например, Пупкин" v-model="form.lastName">
            </div>
            <div class="input-group">
              <label for="middleName">Отчество:</label>
              <input type="text" class="input-box" id="middleName" name="middleName" placeholder = "Например, Акакиевич" v-model="form.middleName">
              </div>
            <div class="input-group">
              <label for="photoUrl">Фотография:</label>
              <input type="file" class="input-box" id="photoUrl" name="photoUrl">
              </div>
            <div class="input-group">
              <label for="role">Роль:</label>
              <select class="input-box" name="role" id="role" v-model = "form.role">
                      <option value="student" selected>Ученик</option>
                      <option value="parent">Родитель</option>
              </select>
              </div>

              <p>Контакты</p>
              <div class="input-group">
              <label for="phone">Телефон:</label>
              <input type="text" class="input-box" id="phone" name="phone">
              </div>
              <div class="input-group">
              <label for="email">Email:</label>
              <input type="text" class="input-box" id="email" name="email">
              </div>
              <div class="input-group">
              <label for="skype">Skype:</label>
              <input type="text" class="input-box" id="skype" name="skype">
              </div>
              <input type="submit" value="Сохранить" class="btn btn-reverse">
            </form>
            </div>
    </section>
    <script type="module" src="../../api/addStudent.js"></script>

    </body>

</html>