<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Assignment-form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<script src="https://unpkg.com/vue"></script>
<div class="container p-md-2" id="app">
    <h1>База заданий</h1>
<form @submit.prevent="addInfo">
    <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" class="form-control" id="title" aria-describedby="title-Help" placeholder="Заголовок задания" v-model="form.title">
    </div>
    <div class="form-group">
        <label for="type">Тип</label>
        <input type="text" class="form-control" id="type" placeholder="Тип задания" v-model="form.type">
    </div>
    <div class="form-group">
        <label for="instruction">Инструкции</label>
        <input type="text" class="form-control" id="instruction" placeholder="Инструкции к заданию" v-model="form.instructions">
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>
<script type='module' src="/api/assignments.js"></script>
</body>
</html>