<!doctype html>
<html lang="ru">
<head>
    <%- include('components/meta') %>
    <title>Главная - </title>
</head>
<body>
<div class="container">
    <%- include('components/navbar', { user }) %>
    <p></p><a href="/students">Добавить ученика / родителя</a></p>
    <p><a href="/logout">Выход</a></p>
</div>
</body>
</html>