<!doctype html>
<html lang="ru">
<head>
    <%- include('components/meta') %>
    <title>Главная - </title>
</head>
<body>
<div class="container">
    <%- include('components/navbar', { user }) %>
</div>
</body>
</html>