<!doctype html>
<html lang="ru">
<head>
    <%- include('components/meta') %>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <title>Вход в аккаунт</title>
</head>
<body id="login-page">
<div class="blockWrapper">
    <div id="formContent">
        <!-- Icon -->
        <!--        <div class="fadeIn first">-->
        <!--            <img src="https://www.b-cube.in/wp-content/uploads/2014/05/aditya-300x177.jpg" id="icon" alt="User Icon"/>-->
        <!--            <h1>Aditya News</h1>-->
        <!--        </div>-->
        <div class="kpx_login">
            <div class="container">
                <h3 class="padding_top padding_bottom">Вход</h3>
                <div class="kpx_socialButtons padding_bottom_buttons ">
                    <a class="btn btn-lg btn-block kpx_btn-yandex" href="/auth/yandex" data-toggle="tooltip" data-placement="top" title="  Войти через Яндекс">
                        <i class="fab fa-yandex fa-2x "></i>
                    </a>
                    <a class="padding_bottom_buttons"></a>
                    <a class="btn btn-lg btn-block kpx_btn-google-plus" href="/auth/google" data-toggle="tooltip" data-placement="top" title="  Войти через Google">
                        <i class="fa fa-google fa-2x"></i>
                    </a>
                    <a class="padding_bottom_buttons"></a>
                    <a class="btn btn-lg btn-block kpx_btn-vk" href="/auth/vkontakte" data-toggle="tooltip" data-placement="top" title="  Войти через ВКонтакте">
                        <i class="fa fa-vk fa-2x"></i>
                    </a>
                    <a class="padding_bottom_buttons"></a>
                </div>
            </div>
            <div id="formFooter">
                <a class="underlineHover" href="/">На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>