<!doctype html>
<html lang="ru">
<head>
    <%- include('components/meta') %>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <title>Вход в аккаунт</title>
</head>
<body id="login-page">
<div class="blockWrapper">
    <div id="formContent">

        <div class="padding_top_logo">
            <img src="https://1.downloader.disk.yandex.ru/preview/5545aa02d7c380274a57f13b194f5c2cc2eb2713606ad0f6737fbe4231c2a52c/inf/ddx6kpkBLFpLlinfaKJGloPdEYllVcMV0OKj_VQBl5grEdI-x2FK7XVcWacuPkl4AsPm3Vh41SlKiy5uz_SgHQ%3D%3D?uid=919086218&filename=logo.svg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=919086218&tknv=v2&size=1466x1500" class="logo_size" id="icon" alt="User Icon"/>
                  <h1></h1>
        </div>
        <div class="kpx_login">
            <div class="container">
                <h3 class="padding_top_enter padding_bottom">Вход</h3>
                <div class="kpx_socialButtons padding_bottom_buttons ">
                    <a class="btn btn-lg btn-block kpx_btn-yandex" href="/auth/yandex" data-toggle="tooltip" data-placement="top" title="  Войти через Яндекс">
                        <i class="fab fa-yandex fa-2x "></i>
                    </a>
                    <a class="padding_bottom_buttons"></a>
                    <a class="btn btn-lg btn-block kpx_btn-google-plus" href="/auth/google" data-toggle="tooltip" data-placement="top" title="  Войти через Google">
                        <i class="fa fa-google fa-2x"></i>
                    </a>
                    <a class="padding_bottom_buttons"></a>
                    <a class="btn btn-lg btn-block kpx_btn-vk" href="/auth/vkontakte" data-toggle="tooltip" data-placement="top" title="  Войти через ВКонтакте">
                        <i class="fa fa-vk fa-2x"></i>
                    </a>
                    <a class="padding_bottom_buttons"></a>
                </div>
            </div>
            <div id="formFooter">
                <a class="underlineHover" href="/">На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>