<!doctype html>
<html lang="ru">
<head>
    <%- include('meta') %>
    <title>Вход в аккаунт</title>
</head>
<body>
<p><a href="/">На главную</a></p>
<p><a href="/auth/google">Войти через Google</a></p>
<p><a href="/auth/vkontakte">Войти через VK</a></p>
<p><a href="/auth/yandex">Войти через Яндекс</a></p>
</body>
</html>