<!DOCTYPE html>
<html>
    <head>
        <title>students</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <div class="container pt-3" id="student">
    <form @submit.prevent="addStudent">

      <label for="firstName">Имя*:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" v-model="form.firstName" required>
      <label for="lastName">Фамилия:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" v-model="form.lastName">
      <label for="middleName">Отчество:</label>
      <input type="text" class="form-control" id="middleName" name="middleName" v-model="form.middleName">
      <label for="photoUrl">Фотография:</label>
      <input type="file" class="form-control" id="photoUrl" name="photoUrl">
      <label for="role">Роль:</label>
      <select class="form-control" name="role" id="role" v-model = "form.role">
              <option value="student" selected>Ученик</option>
              <option value="parent">Родитель</option>
      </select>

      <p>Контакты</p>
      <label for="phone">Телефон:</label>
      <input type="text" class="form-control" id="phone" name="phone">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email">
      <label for="skype">Skype:</label>
      <input type="text" class="form-control" id="skype" name="skype">
      <button class="btn btn-primary" type="submit">Сохранить</button>
       </div>
    </form>
    <script type="module" src="../api/addStudent.js"></script>
    </body>
</html>