<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
    <form action="/students/add">
      <label for="firstName">Имя:</label>
      <input type="text" id="firstName" name="firstName" required><br><br>
      <label for="lastName">Фамилия:</label>
      <input type="text" id="lastName" name="lastName" required><br><br>
      <label for="middleName">Отчество:</label>
      <input type="text" id="middleName" name="middleName"><br><br>
      <label for="photoUrl">Фотография:</label>
      <p><input type="file" id="photoUrl" name="photoUrl"></p>
      <label for="role">Роль:</label>
      <select name="role" id="role">
              <option value="student" selected>Ученик</option>
              <option value="parent">Родитель</option>
      </select>

      <p>Контакты</p>
      <label for="phone">Телефон:</label>
      <input type="text" id="phone" name="phone"><br><br>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email"><br><br>
      <label for="skype">Skype:</label>
      <input type="text" id="skype" name="skype"><br><br>
      <input type="submit" value="Сохранить">
    </form>
    </body>
</html>