@import url("https://fonts.googleapis.com/css?family=Lato");
.btn_highlight_none:focus {
  outline: none;
  box-shadow: none; }

.blockWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px; }

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center; }

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px; }

#login-page {
  height: 100vh; }

@media (min-width: 768px) {
  .kpx_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 13%; } }

.padding_top {
  padding-top: 30px; }

.padding_top_button {
  padding-top: 20px; }

.padding_bottom {
  padding-bottom: 20px; }

.padding_bottom_buttons {
  padding-bottom: 20px; }

.padding_bottom_final {
  padding-bottom: 30px; }

.border_width {
  border-width: 26px; }

.kpx_login .kpx_authTitle {
  text-align: center;
  line-height: 300%;
  padding-bottom: 10px; }

.kpx_login .kpx_socialButtons a {
  color: white;
  width: 300px; }
  .kpx_login .kpx_socialButtons a:hover {
    color: white;
    opacity: 1; }
  .kpx_login .kpx_socialButtons a.kpx_btn-google-plus {
    background: #EA4335; }
    .kpx_login .kpx_socialButtons a.kpx_btn-google-plus:hover {
      background: #ab1e11; }
  .kpx_login .kpx_socialButtons a.kpx_btn-yandex {
    background: #ffcc00; }
    .kpx_login .kpx_socialButtons a.kpx_btn-yandex:hover {
      background: #e29f00; }
  .kpx_login .kpx_socialButtons a.kpx_btn-vk {
    background: #45668e; }
    .kpx_login .kpx_socialButtons a.kpx_btn-vk:hover {
      background: #24354a; }

@media (min-width: 768px) {
  .kpx_login .kpx_forgotPwd {
    text-align: right;
    margin-top: 10px; } }

.navbar__avatar_size {
  width: 40px;
  height: 40px; }

.navbar__avatar_padding {
  padding: 2px; }

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400; }
  a:hover {
    opacity: 0.8;
    color: #ff5400;
    text-decoration: none; }

/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s; }
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  .fadeIn.second {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .fadeIn.third {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.1s; }

.underlineHover:hover:after {
  width: 100%; }

:root {
  --primary-color: #568c9b;
  --primary-hover-color: #64a5b7;
  --bg-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7); }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #333;
  background: #4c4c4c;
  background-color: transparent; }

html {
  background: url(https://images.wallpaperscraft.ru/image/doroga_dvizhenie_neboskreby_mankhetten_nyu_jork_120441_1920x1080.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

ul {
  list-style: none;
  padding: 0; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: var(--primary-color); }

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden; }

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px; }

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem; }

header nav ul {
  display: flex; }

header nav li {
  margin: 0 1rem; }

/* Login Button Spacing */
/*header nav li:last-child {
  margin-left: -5px;
}*/
header.inner {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow); }

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s; }

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff; }

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color); }

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color); }

/* Home Search */
.search-wrap {
  background: url("../img/showcase.jpg") no-repeat center center fixed/cover;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.search-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin: 0 0 1.5rem;
  text-align: center; }

.search-form input[type='submit'] {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.8s; }

.search-form input[type='submit']:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color); }

.search-form {
  display: flex;
  width: 600px;
  box-shadow: var(--box-shadow); }

.search-form i {
  color: #333; }

/* Everything in the search form */
.search-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0; }

input[type='search'] {
  flex-basis: 600px; }

/* Gigs */
.gig {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow); }

.gig ul {
  list-style: none;
  display: flex; }

.gig li {
  margin-right: 0.5rem;
  padding: 0.6rem; }

.gig .tech span {
  color: var(--primary-color); }

/* Form */
.form-wrap {
  margin: auto;
  background-color: rgba(45, 45, 45, 0.8);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow); }

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%; }

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center; }

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px; }

label {
  display: block;
  margin-bottom: 0.5rem; }

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem; }

/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem; }
  header {
    flex-direction: column;
    padding: 0.3rem !important; }
  .search-form {
    width: 100%; }
  input[type='search'] {
    flex-basis: 100%; }
  .search-wrap h1 {
    font-size: 2rem; }
  .search-wrap {
    padding: 2.3rem; }
  .gig ul {
    flex-direction: column; }
  .gig .btn {
    display: block;
    margin-top: 1rem;
    text-align: center; }
  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%; } }

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem; }
  header nav li {
    margin: 0 10px; }
  .search-form {
    display: flex;
    flex-direction: column; }
  input[type='search'] {
    flex-basis: 0; }
  .search-form i {
    display: none; }
  .form-wrap {
    padding: 1rem 2rem 2rem; }
  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */