<h2><%= name %></h2>
<ul>
    <%
    function renderList(obj) {
      for (let [key, value] of Object.entries(obj)) {
        if (value instanceof Object) {
    %>
        <li><%= key %>:
            <ul><% renderList(value) %></ul>
        </li>
    <% } else { %>
        <li><%= key %>: <%= value %></li>
    <%
        }
      }
    }
    %>
    <% renderList(obj) %>
</ul>